@font-face {
    font-family: 'Marlin';
    src: url('./assets/fonts/marlin.woff2') format('woff2'),
        /* Modern Browsers */
        url('./assets/fonts/marlin.woff2') format('woff');
    /* Legacy Browsers */
    /* Additional font properties (optional) */
    font-weight: normal;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Marlin";
}

p {
    color: #72e093;
    word-spacing: .3em;
    line-height: 1.8em;
    margin-bottom: 1em;
    font-weight: 600;
    font-size: 1.53em;
}

.name {
    font-size: 6.5em;
    color: rgb(250, 69, 49);
    align-items: center;
}

.hero-text {
    color: rgb(237, 108, 94);
    font-size: 3em;
    font-weight: 800;
}

.container-2 {
    margin: 0 auto;
    display: flex !important;
    max-width: 100%;
    min-height: 100vh !important;
    justify-content: center !important;
    align-items: center !important;
}

.noise {
    background: rgb(252, 163, 159);
    background-image: url(./images/noise.png);
}

/* Container for the text and image */

.image-container {
    position: absolute;
    top: 60px;
    right: 80px;
    border-radius: 50%;
    transform: rotate(-8deg);
    z-index: 1;
}

.image-container img {
    height: 250px;
    width: 250px;
}

.text-container {
    z-index: 2;
}


@media (max-width: 768px) {
    .container-2 {
        flex-direction: column;
        text-align: center;
    }

    .name {
        font-size: 4.5em;
    }

    .hero-text {
        font-size: 2em;
    }
}

/* Add this media query for mobile devices (e.g., iPhone) */
@media (max-width: 576px) {
    .name {
        font-size: 3.5em;
    }

    .hero-text {
        font-size: 1.5em;
    }

    /* Adjust the image size for mobile */
    img {
        height: 150px;
        width: 150px;
    }
}