@font-face {
  font-family: "Tolu Sans";
  src: url("assets/fonts/font-regular.woff2"),
    url("assets/fonts/font-bold.woff2");
}

@font-face {
  font-family: "Subtitle";
  src: url("assets/fonts/subs.otf");
}

@font-face {
  font-family: "Topic";
  src: url("assets/fonts/font-2.otf");
}

@font-face {
  font-family: "Sofia Pro";
  src: url("assets/fonts/Sofia\ Pro\ Bold.ttf");
}

body {
  background-color: #e9eaeb;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Tolu Sans", sans-serif;
}

.subtitle {
  font-family: "Subtitle", sans-serif;
  font-size: 18px !important;
}

ul {
  padding: auto;
}

li {
  list-style-type: none;
}

a {
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease;
}

.button {
  padding: 15px !important;
}

/* 
HEADER
*/

nav li {
  font-size: 15px;
  padding: 10px 12px;
  margin-right: 16px;
  display: inline-block;
}

.main-text {
  font-family: "Subtitle", sans-serif;
}

.intro, .teams, .projects {
  padding: 47px 20px !important;
}

.intro {
  font-family: "Tolu Sans", sans-serif;
  place-content: flex-start center;
  flex: 0 0 auto;
  flex-flow: column;
  gap: 19px;
  height: min-content;
  max-width: 762px;
  overflow: hidden;
  position: relative;
  width: 100%;
}


.card-title {
  font-family: "Topic", sans-serif !important;
}

.card {
  height: 20px !important;
}
