@font-face {
  font-family: 'cabinet';
  font-style: normal;
  font-weight: 100 900;
  src: url('./CabinetGrotesk-Variable.woff2') format('woff2-variations');
}

body {
  font-family: 'cabinet', sans-serif;
}

img {
  max-width: 100%;
}

p,
h4 {
  margin: 0;
}

p {
  font-size: 16px;
  font-weight: 500;
}

.container {
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/* Small mobile devices */
@media screen and (min-width: 480px) {
  .container {
    padding: 0 20px;
  }
}

/* Tablet devices */
@media screen and (min-width: 768px) {
  .container {
    padding: 0 60px;
  }
}

/* Larger screens */
@media screen and (min-width: 1024px) {
  .container {
    padding: 0 120px;
    max-width: 1150px;
  }
}



.colorSec {
  color: #667085;
}

article {
  gap: 32px;
  display: flex;
  padding: 16px 0px;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid #EAEBF0;
}


article h4 {
  margin-bottom: 16px;
}

.projectTitle {
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

.projectDescription {
  width: 100%;
  word-spacing: 2px;
  line-height: 1.4;
  font-size: 14px;
}

@media screen and (min-width: 480px) {
  .projectDescription {
    font-size: 15px;
    word-spacing: 2.5px;
  }
}

@media screen and (min-width: 768px) {
  .projectDescription {
    max-width: 65%;
    word-spacing: 3px;
    line-height: 1.5;
    font-size: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .projectDescription {
    max-width: 60%;
    line-height: 24.92px;
  }
}

.button, .navButton {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  border-radius: 4px;
  background: #050505;
  text-decoration: none;
  padding: 12.5px 16px;

  color: #ffffff;
  font-weight: 700;
  line-height: 19.2px;
  letter-spacing: -0.4000000059604645px;
}


/* .navButton {
  background: #8D8DFF;
  padding: 4px 12px;
  box-sizing: border-box;
  border: 1px solid #D0D5DD;
  border-radius: 100px;
} */



/* Contact Icons */

.contact-icons {
  padding: 16px 0px;
}

.contact-icons,
.contact-icons div {
  display: flex;
  align-items: center;
  gap: 16px;
}

.contact-icons div {
  gap: 2px;
}

.contact-icons img {
  width: 24px;
  height: 24px;
}




/* Image Gallery */
.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.image-wrapper {
  margin: 10px;
  text-align: center;
}

.image-wrapper img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border: 10px solid #fff;
  box-shadow: 0 0 0 5px #ddd, 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.image-wrapper:nth-child(odd) img {
  transform: rotate(-7deg);
}

.image-wrapper:nth-child(even) img {
  transform: rotate(7deg);
}

.image-wrapper:hover img {
  transform: rotate(0deg);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.caption {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}


/* #intro {
  gap: 16px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
} */
/* 
.introNavs{
  display: flex;
  gap: 16px;
  justify-content: center;
} */
